<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Serial_Terminal_plus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Serial_Terminal_plus.Properties.Settings>
            <setting name="baud" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="linbreakS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="linebreakR" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="localecho" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="timestamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="comandstring" serializeAs="String">
                <value>none</value>
            </setting>
        </Serial_Terminal_plus.Properties.Settings>
    </userSettings>
</configuration>